

  * {
    box-sizing: border-box;
    text-align: center;
    color:rgb(177, 177, 177);
    font-family: 'Kanit', sans-serif; 
}

html{
 height:100%;
 min-height:100%;
 }

.flex-container {
display: flex;
flex-wrap: wrap;
}

.Content-container {
    flex-wrap: wrap;
    border: solid;
    }


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
 /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}





.WhiteHead{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}

.img{
    width: 450px;
    height: auto;
}



.input{
    font-size: 25px;
    background-color: rgb(63, 63, 63);
    width: 150px;
    text-align: left;

}

.inputT{
    font-size: 25px;
    text-align: right;

}

.output{
    font-size: 25px;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    overflow: hidden;
  }

.button{
    background-color: rgb(63, 63, 63); 
    border: none;
    color: rgb(177, 177, 177);
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 125px;
} 

a { position: relative; display: inline-block ;
    text-align: center; }

.fisrt{
    transition:1s;
    opacity:1
}

a h2 {
    opacity:0; 
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 50;
    margin: 0;
    background: black;
    color:rgb(177, 177, 177);
    transition:1s;
}

a:hover h2 {
    opacity:1
}

@media only screen and (max-width: 910px) {
  /* For mobile phones: Ipad */
    [class*="col-"] {
      width: 100%;
    }
  
    .img{
        width: 500px;
        height: auto;
        
    }
    [class*="put"] {
        font-size: 25px;
    }

    a h2 {
        font-size: 25px;
    }


    .WhiteHead{
        font-size: 35px;
        font-family: 'Kanit', sans-serif;
    }

}

@media only screen and (max-width: 600px) {
    /* For mobile phones: Iphone 9/7/8 plus */
    [class*="col-"] {
      width: 100%;
    }
  
    .img{
        width: 300px;
        height: auto;
        
    }
    [class*="put"] {
        font-size: 20px;
    }

    a h2 {
        font-size: 20px;
    }

    .button{
        font-size: 10px;
        padding:15px 15px;
    } 

    .WhiteHead{
        font-size: 30px;
        font-family: 'Kanit', sans-serif;
    }
}
@media only screen and (max-width: 375px) {
        /* For mobile phones: GS5 */
        [class*="col-"] {
          width: 100%;
        }
      
        .img{
            width: 300px;
            height: auto;
            
        }
        [class*="put"] {
            font-size: 15px;
        }
    
        .button{
            padding:20px 15px;
            font-size: 15px;
        } 
        a h2 {
            font-size: 15px;
        }
    

    }

